*{
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    display: grid;
    
}
header{
    background-color: white;    
    max-width: 1200px;
    width: 100%;
    padding: 20px;    
    display: grid;
    grid-template-rows: 100px 200px;
    gap:116px;
    margin-bottom: 5px;
    background-image: url('../Images/header.jpg');
    background-position: center;
    height: 400px;
    align-self: center;
}
.sup{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width:1200px;
}
.logo,
.social,
.subnav{
    padding: 10px 0px 10px 10px;  
    display: grid;
    gap:5px;
}
.logo img{
    width: 50px;
    height: 50px;
    animation: Rotate 4s ease-in;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    align-items: center;
}
.subnav{
    grid-template-columns: 1fr 4fr;
}
.subnav img:hover{
    width: 20px;
    height: 20px; 
}
.subnav img{
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.subnav a:hover{
    font-size: 22px;
    color: darkgray;
}
.subnav a{
    text-decoration: none;
    color: grey;
    margin-right: 10px;
}
.social{
    justify-items: end;
    align-items: center;
    grid-template-columns: 4fr 1fr;
}
.social img{
    display: grid;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.social img:hover{
    width: 24px;
    height: 24px; 
    cursor: pointer;   
}
.inf{
    background-color: lightgray;
    opacity: 80%;
    padding: 20px;
    display: grid;
    justify-self: center;
    width: 90%;
    height: 125px;    
    max-width: 1000px;
}
.banner{
    color: #F59C7B;
    display: grid;
    justify-content: center;
    font-size: 28px;
    opacity: 0.8;
    align-self: center;
    animation: Rotate 4s ease-in;
}
.banner img{
    width: 100%;
    max-width: 1200px;
    height: 100%;
}
.central_body{
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-self: center;
    gap: 10px;
    max-width: 1200px;
}
.left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: #D8D7D7;
    padding: 10px 10px;
    gap: 10px;
}
.article{
    background-color: #F5F1F1;
    display: grid;
    padding: 10px;
    margin-bottom: 5px;   
    gap: 5px;
}
.image{
    position: relative;
    display: grid;
}
.image img{
    width: 100%;    
}
.image .date{
    color: #D0C77C;
    position: absolute;
    top: 80%;
    left: 3%;;
}
.subtittle{
    background-color: #F08080;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    font-weight: bold;
}
.art_text{
    column-count: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #787777;
}
.more a{
    color: #9F9E9E;
    text-decoration: none;
}
.navigation{
    padding: 5px 5px;
    padding-left: 10px;
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}
.right{
    background-color:#D8D7D7;
    padding: 5px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto;
    min-width: 250px;   
}
.publicidad1{
    padding: 15px;
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
}
.publicidad2{
    margin-bottom: 15px;
    text-align: center;
}
footer{
    background-color: #D8D7D7;
    max-width: 1200px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.footer{
    background-color: #F5F1F1;    
    color: #787777;
    margin: 0px 10px;
    text-align: center;
    padding: 10px 0px;
}

@media only screen and (max-width: 768px) {

    body{
        max-width:768px;   
        gap: 5px;
    }
    header{
        max-width:768px;   
        height: 470px;
        gap: 130px;
        grid-template-rows: 150px 350px;
    }
    .sup{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 40px 40px;
        justify-items: center;
        gap:5px;   
    }
    .logo{
        padding: 0;
    }
    .social{
        grid-template-columns: 1fr 1fr;
    }
    .social img{
        margin-right: 10px;
    }
    .banner{
        font-size: 24px;
    }
    .central_body{
        grid-template-columns: 1fr;
        display: grid;
        gap:20px;
        max-width: 768px;
    }
    .right{
        display: grid;
        min-width: 200px;
    }
    .publicidad:last-child{
        margin-bottom: 0px;
    }
    footer{
        max-width: 768px;
    }
}

@media only screen and (max-width: 600px) {

    body{
        max-width: 600px;
    }
    header{
        max-width: 600px;
    }
    .banner{
        font-size: 20px;
    }
   .left{   
        display: block;
    }
    .article{
        width: 100%;
        max-width: 100%;
    }
    .image .date{
        top: 88%;
        left: 2%;
    }
}

@keyframes Rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}